* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.lights_pink{
    
position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
    filter: blur(140px);
}

.lights_blue{
    
position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
    filter: blur(160px);
}





/* style of header  */

/* style of nav  */
header{
    position: relative;
}

.nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}


.logo h2 a{
    color: #3670FF;
text-decoration: none;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
}

.items>ul>li>a {
    text-decoration: none;
    color: #363636;
    opacity: 0.8;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
}

.items>ul>li>.blog_only{
    color: #174AFF;
}

.btn a {
    padding: 14px 32px;
    text-decoration: none;
    color: #3670FF;
    border: 2px solid #3670FF;
    border-radius: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* animation of nav  */

.items a:hover {
    transition: 0.5s;
    color: #3670FF;
}

.btn a:hover {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    transition: 0.5s;
}

.one{
    top: -70px;
    left: 0px;
}

.two{
top: -50px;
left: 0px;
}

/* style of header text  */

.front_text {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_text h2 {
    color: #363636;
    
font-weight: 600;
font-size: 32px;
line-height: 48px;
}

.front_text p{
    color: #363636;
    padding-top: 15px;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

/* style of main  */

.main{
    text-align: center;
    margin: auto;
    width: 684px;
}

.text_block{
    position: relative;
display: flex;
flex-direction: column;
}

.text_block input{
    border: #979797 solid 1px;
    border-radius: 10px;
    margin-top: 22px;
    padding: 20px 148px 20px 25px;
}

.big_text{
    display: flex;
    flex-direction: column;
}

.main .input_height{
    padding-bottom: 180px;
}

.main a{
    text-decoration: none;
    color: #3670FF;
    margin: 350px 30px 150px 30px;
font-weight: 500;
font-size: 26px;
line-height: 39px;
}

.container_first_btn {
    z-index: 10;
    display: block;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
}

.container_first_btn button {
    padding: 15px 75px;
    background-color: #fff;
    border: 1px solid #3670FF;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3670FF;
}

.container_first_btn button:hover {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    transition: 0.5s;
}



.back_pixtures img{
    width: 70px;
    height: 70px;
    border-radius: 40px;
}

.back_pixtures{
    position: absolute;
}

.pos1{
    top: 500px;
    left: 90px;
}

.pos2{
    top: 440px;
    left: 1330px;
}

.pos3{
    top: 800px;
    left: 253px;
}

.pos4{
    top: 750px;
    left: 1200px;
}






















/* style of footer  */


/* sectioon two  */


.section_footer_second{
    margin: 100px auto 0;
    background-color: #2B2A2A;
padding: 100px 0;
display: flex;
justify-content: space-around;
}


table tr td{
    padding: 12px 50px;
}

.first_table{
    padding-bottom: 20px;
    color: #fff;
    opacity: 1;
    font-weight: 700;
}


td a{
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}

.subtitles_footer{
    padding-top: 10px;
    color: #fff;
    opacity: 0.6;
font-weight: 400;
font-size: 14px;
line-height: 21px;
word-spacing: 2px;
}


.column>div>div{
    align-items: center;
    display: flex;
    color: #fff;
}
.column>div>div img{
    width: 25px;
    height: 16px;
    padding-right: 10px;
}

.contact{
padding: 190px 0 10px;
}


.section_footer_second .contact_near{
    color: #fff;
font-weight: 400;
font-size: 16px;
line-height: 24px;
    margin: 0;
}

/* section_third style  */

.section_footer_third{
    width: 100%;
    height: 90px;
    background-color: #201E1E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    
font-weight: 400;
font-size: 16px;
line-height: 24px;

}
footer .section_footer_third p{
    margin: 0;
    color: #fff;
opacity: 0.6;

font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.section_footer_third_p2{
    color: #FFFFFF;

    width: 300px;
    display: flex;
    justify-content: space-between;
}

footer .section_footer_third_p2 p{
    margin: 0;
    color: #fff;
}

.column h2{
color: #fff;
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
}

.big_btn {
    padding-top: 20px;
}

.big_btn input {
    padding-left: 20px;
    width: 350px;
    height: 56px;
    border: solid 1px #fff;
    border-radius: 8px;
}

.big_btn button {
    padding: 17px 33px;
    background: #FFCF59;
    border: 1px solid #FFCF59;
    border-radius: 8px;

}

.big_btn button:hover {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    transition: 0.5s;
}