* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.lights_pink{
    
position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
    filter: blur(140px);
}

.lights_blue{
    
position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
    filter: blur(160px);
}





/* style of header  */

/* style of nav  */
header{
    position: relative;
}

.nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}


.logo h2 a{
    color: #3670FF;
text-decoration: none;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
}

.items>ul>li>a {
    text-decoration: none;
    color: #363636;
    opacity: 0.8;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px;
}

.items>ul>li>.blog_only{
    color: #174AFF;
}

.btn a {
    padding: 14px 32px;
    text-decoration: none;
    color: #3670FF;
    border: 2px solid #3670FF;
    border-radius: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* animation of nav  */

.items a:hover {
    transition: 0.5s;
    color: #3670FF;
}

.btn a:hover {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    transition: 0.5s;
}

.one{
    top: -70px;
    left: 0px;
}

.two{
top: -50px;
left: 0px;
}

/* style of header text  */

.front_text {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front_text h2 {
    color: #363636;
    
font-weight: 600;
font-size: 32px;
line-height: 48px;
}

.front_text input {
    padding-left: 30px;
width: 547px;
height: 61px;
border: 1px solid #979797;
border-radius: 8px;
}

.front_text button{
    margin: 45px 22px;
padding: 20px 50px;
background-color: #3670FF;
border: 1px solid #3670FF;
border-radius: 8px;
color: #fff;
font-weight: 500;
}


.front_text button:hover{
    color: #174AFF;
    background-color: #fff;
    transition: 0.5s;
}

/* main style  */

main{
    display: flex;
    justify-content: space-around;
}


/* main information  style */

.left_of_aside{
    width: 726px;
}

.left_of_aside img{
    border-radius: 10px;
    margin-top: 40px;
}

span{
    color: #8A8888;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

}

p{
    margin-top: 20px;
  color:   #363636;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}

.big_text{
    width: 680px;
    margin-top: 20px;
    opacity: 0.6;
    color: #363636;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.left_of_aside h3{
    
font-weight: 600;
font-size: 18px;
line-height: 27px;
}

.left_of_aside h4{
    margin-top: 20px;
    
font-weight: 600;
font-size: 22px;
line-height: 33px;
}


/* aside right  style */


aside{
    width: 330px;
    height: 1220px;
}

aside .right_section{
    width: 280px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

aside h4{
    padding-top: 15px;
}

aside h3{
    text-transform: uppercase;

    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
aside .many_btn{
margin: 30px 0;
}

aside button{
    background-color: #fff;
    border: 1px solid  #979797;
    border-radius: 8px;
    margin: 5px 5px;
    padding: 10px 15px ;
}

aside .long_btn{
    padding: 10px 42px;
}










/* style of footer  */

.container_first_btn {
    z-index: 10;
    display: block;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
}

.container_first_btn button {
    padding: 15px 27px;
    background-color: #fff;
    border: 1px solid #3670FF;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3670FF;
}

/* section one  */


.decor_bord{
    position: relative;
    background-image:url(../img/decor_bord.png);
    width: 1169px;
    height: 412px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.decor_bord h2{
    color: #fff;
font-weight: 500;
font-size: 30px;
line-height: 45px;
}

.decor_bord p{
    padding-top: 15px;
    color: #fff;
opacity: 0.6;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.low_decor_bord{
    position: absolute;
    background-color: black;
    width: 1169px;
    height: 412px;
    border-radius: 20px;
    z-index: 0;
    left: 175.100px;
}

/* sectioon two  */


.section_footer_second{
    margin: 100px auto 0;
    background-color: #2B2A2A;
padding: 100px 0;
display: flex;
justify-content: space-around;
}


table tr td{
    padding: 12px 50px;
}

.first_table{
    padding-bottom: 20px;
    color: #fff;
    opacity: 1;
    font-weight: 700;
}


td a{
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}

.subtitles_footer{
    padding-top: 10px;
    color: #fff;
    opacity: 0.6;
font-weight: 400;
font-size: 14px;
line-height: 21px;
word-spacing: 2px;
}


.column>div>div{
    align-items: center;
    display: flex;
    color: #fff;
}
.column>div>div img{
    width: 25px;
    height: 16px;
    padding-right: 10px;
}

.contact{
padding: 190px 0 10px;
}


.section_footer_second .contact_near{
    color: #fff;
font-weight: 400;
font-size: 16px;
line-height: 24px;
    margin: 0;
}

/* section_third style  */

.section_footer_third{
    width: 100%;
    height: 90px;
    background-color: #201E1E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    
font-weight: 400;
font-size: 16px;
line-height: 24px;

}
footer .section_footer_third p{
    margin: 0;
    color: #fff;
opacity: 0.6;

font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.section_footer_third_p2{
    color: #FFFFFF;

    width: 300px;
    display: flex;
    justify-content: space-between;
}

footer .section_footer_third_p2 p{
    margin: 0;
    color: #fff;
}

.column h2{
color: #fff;
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
}

.big_btn {
    padding-top: 20px;
}

.big_btn input {
    padding-left: 20px;
    width: 350px;
    height: 56px;
    border: solid 1px #fff;
    border-radius: 8px;
}

.big_btn button {
    padding: 17px 33px;
    background: #FFCF59;
    border: 1px solid #FFCF59;
    border-radius: 8px;

}

.big_btn button:hover {
    background-color: blue;
    border: 1px solid blue;
    color: #fff;
    transition: 0.5s;
}